In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [5]:
%matplotlib inline

In [6]:
import os 
os.getcwd()

'C:\\Users\\Jhansi'

In [9]:
data = pd.read_csv('Datafiles/claimants.csv')

In [10]:
data.head()

   CASENUM  ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0        5         0     0.0       1.0       0.0    50.0  34.940
1        3         1     1.0       0.0       0.0    18.0   0.891
2       66         1     0.0       1.0       0.0     5.0   0.330
3       70         0     0.0       1.0       1.0    31.0   0.037
4       96         1     0.0       1.0       0.0    30.0   0.038

In [11]:
data.shape

(1340, 7)

In [ ]:
data1 =